@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.App {
  height: 100%;
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 700px){
  .App{
    height: 100vh;
  }
}